@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&family=Press+Start+2P&family=Roboto&display=swap');
/*Configurações gerais da página*/

:root {
    --main-color: #add8e6;
    --black: #13131a;
    --bg: #3A4042;
    --border-bottom: 2px solid #000;
}


* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    margin-top: 6rem;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

a:hover {
    text-decoration: none;
}

.color-green {
    background-color: #1DB954;
}

.color-yellow {
    background-color: #ffc107;
}

.color-white {
    background-color: #fff;
}

/*Cabeçalho da página*/

.header {
    background: var(--bg);
    display: flex;
    padding: 1.5rem 7%;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-bottom);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo {
    font-family: 'Poppins', sans-serif;
    margin-left: 1rem;
    color: #add8e6;
    text-shadow: 2px 2px 0px #000000;
}

.header .nav-bar a {
    font-family: 'Poppins', sans-serif;
    margin: 0 1rem;
    font-size: 1.2rem;
    color: #fff;
}

.header .nav-bar a:hover {
    color: #add8e6;
    text-decoration: none;
    border-bottom: .1rem solid var(--bg);
    padding-bottom: .5rem;
}

.header .icones div {
    color: #fff;
    cursor: pointer;
    font-size: 2.0rem;
    margin-left: 2rem;
}

.header .icones div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

/*Seção principal*/

#main-section {
    display: flex;
    align-items: center;
    background: var(--main-color);
    min-height: 100vh;
}

.titles h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 3.6rem;
    color: var(--bg);
}

.paragrafo p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: var(--bg);
}

.btn-principal {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: var(--bg);
    color: #fff;
    padding: 0.8rem 2rem;
}

.btn-principal:hover {
    background-color: #fff;
    color: var(--bg);
}

.img-mine {
    width: 100%;
}

/*Seção Skills*/

#skills {
    background: var(--bg);
    padding-top: 2rem;
    height: 35rem;
}

#skills h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
}

.wrapper-skills {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.skill-items {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.skill-items img {
    width: 6rem;
    margin-right: 1rem;
}

progress {
    border: 0.1rem solid #000;
    height: 2rem;
    width: 20rem;
    background-color: #fff;
    color: var(--main-color);
}

::-moz-progress-bar {
    background-color: var(--main-color);
  }

progress::-webkit-progress-bar {
    border: 0.1rem solid #000;
    height: 2rem;
    width: 20rem;
    background-color: #fff;
}

progress::-webkit-progress-value {
    background-color: var(--main-color);
}


.right-content {
    float: right;
}

.right-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    color: #fff;
}

/*Seção Projetos*/

#projects {
    background-color: var(--main-color);
    padding-top: 2rem;
    height: 35rem;
}

#projects h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #000;
}

#projects p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: center;
    color: #000;
}

.wrapper-projects {
    height: 20rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.projects-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
    height: 13rem;
    align-items: center;
    border-radius: 2rem;
    border: solid 0.1rem #000;
}

.projects-item:hover {
    width: 16rem;
    height: 14rem;
}

.projects-item h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: #000;
}

.img-ajuste {
    width: 8rem;
    height: 8rem;
}

/*Seção Sobre*/

#sobre {
    background-color: #fff;
    padding-top: 2rem;
    height: 35rem;
}

.wrapper-sobre {
    display: flex;
    height: 30rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sobre-item {
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: space-around;
    font-size: 1.1rem;
    width: 60%;
}

.sobre-item h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.sobre-item p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.sobre-bar {
    background-color: var(--black);
    align-self: center;
    width: 10rem;
    height: 0.2rem;
}

.sobre-img img {
    width: 25rem;
    height: 25rem;
}













































































/* Midias
-----------------*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    
    html {
        font-size: 40%;
    }

    #menu-btn {
        font-size: 3rem;
        display: inline-block;
    }

    .header {
        border-bottom: 5px solid #000;
        padding: 2.5rem 7%;
    }

    .header .logo-lusca {
        font-size: 3.5rem;
    }

    .header .nav-bar {
        position: absolute;
        margin-top: 0.60rem;
        top:100%; right: -100%;
        background: var(--bg);
        width: 30rem;
        height: 100vh;
    }

    .header .nav-bar.active {
        right: 0;          
    }

    .header .nav-bar a {
        color: #fff;
        text-decoration: none;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2.5rem;
    }

    #main-section {
        display: flex;
        min-height: 65vh;
        font-size: 2rem;
        align-items: center;
    }

    .titles h2 {
        font-size: 6.5rem;
    }

    .paragrafo p {
        font-size: 2.5rem;
    }

    .col-md-6 img {
        display: none;
    }

    .buttons {
        margin-top: 2rem;
    }

    .btn-principal {
        font-size: 2.5rem;
        padding: 1rem 3rem;
    }

    .skill-items img {
        width: 5rem;
    }

    .sobre-item p {
        font-size: 1rem;
    }

    .sobre-img img {
        width: 20rem;
        height: 20rem;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	
    html {
        font-size: 60%;
    }

    #menu-btn {
        display: inline-block;
    }

    .header {
        border-bottom: 5px solid #000;
    }

    .header .nav-bar {
        position: absolute;
        margin-top: 0.60rem;
        top:100%; right: -100%;
        background: var(--bg);
        width: 30rem;
        height: 100vh;
    }

    .header .nav-bar.active {
        right: 0;          
    }

    .header .nav-bar a {
        color: #fff;
        text-decoration: none;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    #main-section {
        display: flex;
        min-height: 60vh;
        font-size: 2rem;
        align-items: center;
    }


    .col-md-6 img {
        display: none;
    }

    .skill-items img {
        width: 4rem;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    html {
        font-size: 60%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    
    }

    #main-section {
        display: flex;
        min-height: 60vh;
        font-size: 2rem;
        align-items: center;
    }
}   

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1601px and up)*/
@media (min-width: 1601px) {

    .row {
        margin-left: -8.5rem;
    }


    .titles h2 {
        font-size: 4rem;
    }

    .paragrafo p {
        font-size: 1.5rem;
    }
    
    .btn-principal {
        font-size: 2rem;
        padding: 1rem 3rem;
    }


    .col-md-6 img {
        width: 50rem;
    }

}
































